# This file contains all the environment variables that are used in the application

# Database configuration
DB_NAME=YOUR_DB_NAME
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD

# Paseto configuration
# base64 encoded 32 bytes key
PASETO_SECRET_KEY=YOUR_PASETO_SECRET_KEY

# Expiration duration
ACCESS_TOKEN_EXPIRED_DURATION=YOUR_ACCESS_TOKEN_EXPIRED_DURATION
REFRESH_TOKEN_EXPIRED_DURATION=YOUR_REFRESH_TOKEN_EXPIRED_DURATION

# Twilio configuration
TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO_SERVICE_SID=YOUR_TWILIO_SERVICE_SID
MAX_OTP_ATTEMPTS=YOUR_MAX_OTP_ATTEMPTS
MAX_OTP_SEND_COUNT=YOUR_MAX_OTP_SEND_COUNT
OTP_EXPIRED_DURATION=YOUR_OTP_EXPIRED_DURATION
OTP_COOLDOWN_DURATION=YOUR_OTP_COOLDOWN_DURATION
OTP_SEND_COUNT_DURATION=YOUR_OTP_SEND_COUNT_DURATION

# Gin HTTP server configuration
GIN_MODE=YOUR_GIN_MODE

# Redis configuration
REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT
REDIS_PASSWORD=YOUR_REDIS_PASSWORD
REDIS_PROTOCOL=YOUR_REDIS_PROTOCOL

#FPT AI configuration
FPT_AI_API_KEY=YOUR_FPT_AI_API_KEY
FPT_AI_API_URL=YOUR_FPT_AI_API_URL

# Encryption configuration for CCCD
ENCRYPTION_KEY=YOUR_ENCRYPTION_KEY

# Goong Map API configuration
GOONG_API_URL=YOUR_GOONG_API_URL
GOONG_API_KEY=YOUR_GOONG_API_KEY

# Cache Durations (in seconds)
GOONG_CACHE_AUTOCOMPLETE_DURATION=YOUR_GOONG_AUTOCOMPLETE_DURATION
GOONG_CACHE_PLACE_DETAIL_DURATION=YOUR_GOONG_PLACE_DETAIL_DURATION
GOONG_CACHE_ROUTE_DURATION=YOUR_GOONG_ROUTE_DURATION
GOONG_CACHE_DEFAULT_DURATION=YOUR_GOONG_DEFAULT_DURATION

# FCM configuration
FCM_CONFIG_PATH=YOUR_FCM_CONFIG_PATH

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
CLOUDINARY_API_URL=YOUR_CLOUDINARY_API_URL

# Agora configuration
AGORA_APP_ID=YOUR_AGORA_APP_ID
AGORA_APP_CERTIFICATE=YOUR_AGORA_APP_CERTIFICATE
AGORA_CHANNEL_NAME=YOUR_AGORA_CHANNEL_NAME

# Misc configuration
SANCTUM_SECRET_KEY=YOUR_SANCTUM_SECRET_KEY
BCRYPT_COST=YOUR_BCRYPT_COST
WS_URL=YOUR_WS_URL

# MOMO Payment Gateway Config
MOMO_PARTNER_CODE=YOUR_MOMO_PARTNER_CODE
MOMO_ACCESS_KEY=YOUR_MOMO_ACCESS_KEY
MOMO_SECRET_KEY=YOUR_MOMO_SECRET_KEY
MOMO_PUBLIC_KEY=YOUR_MOMO_PUBLIC_KEY

MOMO_PAYMENT_URL=YOUR_MOMO_PAYMENT_URL
MOMO_PAYMENT_NOTIFY_URL=YOUR_PAYMENT_NOTIFY_URL
MOMO_PAYMENT_REDIRECT_URL=YOUR_PAYMENT_REDIRECT_URL

# OPENROUTER AI Config
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
OPENROUTER_API_URL=YOUR_OPENROUTER_API_URL
